html, body {
    background-color: lightgrey;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 20px;
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
ul{
  padding-left: 0;
}
ul li {
  list-style: none;
}
footer {
    background-color: white;
    margin-top: 100px;
    padding: 20px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.thumbnail {
    min-height: 400px;
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }